body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pagination span{
  padding: 10px;
}

.pointer {
  cursor: pointer;
}

.link {
  text-decoration: underline;
}

.link:hover {
  opacity: 0.65;
}

.statistics-section {
  padding: 5px 20px;
  margin: 10px;
  border: solid 2px;
  border-radius: 10px;
  background: #bcdff6;;
}

.loader{
  height: 80px;
}

.statistics {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.statistics > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.statistics > header {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.forecast-modal {
  background-color: #e6efff;
  padding: 20px;
  min-width: 200px;
  min-height: 150px;
}

.forecast-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255, 0.3);
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
 .menu > * {
   padding: 20px 40px;
   background: #a3b3bc;
 }

 .menu > *:hover {
   opacity: 0.8;
 }

 body {
   background: #e6efff;
 }

 .history-section {
 }

 .history-table {
   background: #bcdff6;
   min-height: 80px;
   position: relative;
 }
